@import "../../../../../styles/styles";

.container {
  width: 100%;

  .subContainer {
    margin: auto;
    width: 650px;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include below-md {
      width: 100%;
      height: auto;
    }

    .title {
      margin: 0;
      line-height: 32px;
      text-align: center;
    }
  }
}
